.rating-average {
  color: var(--balck-90);
}

.comment-img {
  width: min(50px, 100%);
}
.reviews-comment p {
  text-align: justify;
}

.bars-star {
  min-width: 40px;
}
.bars-pecent {
  min-width: 30px;
  text-align: center;
}

.comment-text{
  padding-left: 6rem;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn{
  height: 40px;
}