
.hero-section{
    width: 100%;
    overflow: hidden;
}

.hero-section::-webkit-scrollbar{
    display: none;
}


/* .hero-section>div {
    position: relative;
    width: 100%;
    align-items: center;
    
    height: 400px;
} */

.hero-img{ 
    filter: brightness(35%);
    width: 100%;
    height: 200%;
    z-index: -3;
    
}

.hero-img:hover{
    filter: brightness(60%);
}

.main-heading{
    /* background-color: antiquewhite; */
    top: 17rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: +2;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: min(6vw, 52px);
    white-space: nowrap;
    text-align: center;
}

.hero-para{
    /* background-color: aqua; */
    top: 22rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: +2;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: min(3vw,30px);
    text-align: center;
}

.words{width: 100%;}


